.card__heart-button {
  background: url(../../../images/heart.svg) center no-repeat;
  overflow: hidden;
  object-fit: cover;
  border: none;
  transition: opacity 0.6s ease-in-out;
  width: 22px;
  height: 19px;
  padding: 0;
}

.card__heart-button:hover {
  opacity: .5;
  cursor: pointer;
}





